html,
body {
  margin: 0;
  /* background-image: linear-gradient(
    to bottom,
    #f5f5f5,
    #f7f7f7,
    #fafafa,
    #fcfcfc,
    #ffffff
  ); */
  z-index: -100;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: gray;
  text-decoration: none;
  font-size: 20px;
}

h1.title {
  color: gray;
  right: 0;
  font-size: 40px;
}

h1 {
  font-size: 30px;
  margin: 0;
}

svg#logo path:nth-child(2) {
  stroke-dasharray: 507.99310302734375;
  stroke-dashoffset: 507.99310302734375;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(3) {
  stroke-dasharray: 415.94134521484375;
  stroke-dashoffset: 415.94134521484375;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(4) {
  stroke-dasharray: 241.34402465820312;
  stroke-dashoffset: 241.34402465820312;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(5) {
  stroke-dasharray: 342.05206298828125;
  stroke-dashoffset: 342.05206298828125;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(6) {
  stroke-dasharray: 482.4542236328125;
  stroke-dashoffset: 482.4542236328125;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(7) {
  stroke-dasharray: 61.62703323364258;
  stroke-dashoffset: 61.62703323364258;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(8) {
  stroke-dasharray: 230.4000244140625;
  stroke-dashoffset: 230.4000244140625;
  animation: line-anim 3s ease forwards 0.5s;
}
svg#logo path:nth-child(9) {
  stroke-dasharray: 322.00323486328125;
  stroke-dashoffset: 322.00323486328125;
  animation: line-anim 3s ease forwards 0.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background-color: black;
}

.topHeader {
  top: 0;
  /* position: fixed; */
  z-index: 100;
  background-color: transparent;
}

li a {
  text-decoration: none;
  color: gray;
}

li {
  padding: 10px;
}

ul.nav-links {
  display: flex;
}

.nav-links {
  list-style: none;
}

.nav-links {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all ease 0.3s;
}

.nav-links li a:hover {
  color: #00a4c7;
}

a p {
  text-decoration: none;
  color: inherit;
  margin: 1px;
}

label {
  display: block;
}
nav {
  display: flex;
}

nav a {
  display: inline-block;
  margin: 1em;
  align-items: space-around;
}

/*--- Colors ---*/
.white {
  color: #ffffff;
}
.blue {
  color: #00a4c7;
}
.black {
  color: #000000;
}
.error {
  color: red;
}

.white-bg {
  background-color: #ffffff;
}
.blue-bg {
  background-color: #00a4c7;
}
.black-bg {
  background-color: #000000;
}

/*--- Fonts ---*/
h1,
h2,
h3,
h4 {
  margin: 0px;
}

/*--- Utility Classes ---*/
.flex {
  display: flex;
}

.box {
  padding: 10px;
  box-shadow: 1px 1px 2px 2px #999999;
  border-radius: 10px;
  margin-top: 25px;
}

.btn {
  padding: 10px 25px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

/*--- Dashboard ---*/
.rejected {
  box-shadow: 1px 1px 2px 2px red;
  background-color: rgba(255, 0, 0, 0.5);
}
.issue-solution div {
  justify-content: space-between;
}

div.issue {
  margin: 20px;
}

.dashboard-solution-left {
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 15px;
}

div.postIssue,
div.search {
  float: right;
  width: 50%;
  margin-bottom: 10px;
}

.insideStats {
  margin: 10px;
}

span {
  color: #00a4c7;
  font-size: 20px;
  /* font-style: italic; */
}

h1.prompt,
.searchTitle {
  font-size: 50px;
  color: #00a4c7;
  font-family: "Montserrat", sans-serif;
}

/* Buttons */
input.searchbar,
button {
  margin: 20px;
}

button.browseButton {
  background-color: #00a4c7;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  color: white;
  font-size: 30px;
  border-color: none;
}

button.browseButton:hover {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  color: #00a4c7;
  font-size: 30px;
  border-color: none;
}

button.submitButton {
  background-color: #00a4c7;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  font-size: 30px;
  border-color: none;
}

button.issueButton {
  background-color: #00a4c7;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  font-size: 30px;
  border-color: none;
}

button.submitNewIssueButton {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 350px;
  height: 80px;
  font-size: 30px;
  border-color: none;
}
button.active {
  background-color: orange;
}

button.submitNewIssueButton:hover {
  border: 1px solid white;
  background-color: #00a4c7;
  color: white;
  border-radius: 10px;
  width: 350px;
  height: 80px;
  font-size: 30px;
  border-color: none;
}

button {
  background-color: #00a4c7;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 5px 5px 5px #9e9e9e;
}

.looking {
  color: black;
}

.need {
  color: white;
}

.searchbar {
  width: 610px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
}

.browseIssues,
.submitIssues {
  float: left;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.submitIssues {
  background-color: #00a4c7;
  color: white;
}

form.browseIssues {
  width: 700px;
}

form.browseIssues {
  width: 900px;
}

img.homeImg {
  z-index: 0;
  /* position: fixed; */
  top: 0;
  height: 500px;
}

div.titleScreen {
  background-size: cover;
  background-position: 400px 50%;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  animation: bgfade 20s infinite;
}

@keyframes bgfade {
  0% {
    background-image: url("Images/computer.jpeg");
  }
  50% {
    background-image: url("Images/computer1.jpeg");
  }
  75% {
    background-image: url("Images/computer2.jpeg");
  }
  100% {
    background-image: url("Images/computer.jpeg");
  }
}

div.titleScreen:before {
  opacity: 0.3;
}

/*  */
.container {
  padding: 0 75px;
  margin-bottom: 400px;
}

div.slider {
  background-image: linear-gradient(
    to bottom,
    #808080,
    #9e9e9e,
    #bdbebd,
    #dedede,
    #ffffff
  );
}

.component {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

div.single-issue {
  position: relative;
  width: 450px;
  height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  overflow-wrap: break-word;
  display: inline-table;
  justify-content: center;
  align-items: center;
}

.issue-price {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  color: green;
}

button.btn.blue-bg.white {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

button.post-issue-button {
  padding: 10px;
}

div.insideAllIssues {
  margin: 20px;
}

.issueTitle {
  color: black !important;
}

.stats-section,
.issueStats {
  border: 1px solid gray;
  border-radius: 10px;
}

.insideIssueStats,
.insideStats {
  margin: 10px;
}

.filterOptions {
  border: 1px solid gray;
  border-radius: 10px;
}

.custom-select {
  border-radius: 5px;
}

form#login-form {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 200px;
}

div.post-issue {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 150px;
  /* padding: 10px; */
}

.all-issues-title {
  margin-left: 15px;
}

.issue {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
}

/*--- Code Environment ---*/
div.code-environment-container {
  display: flex;
  justify-content: space-between;
}

.output-box {
  background-color: #001628;
  height: 50vh;
  width: 24vw;
  color: white;
}
