body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*--- Colors ---*/
.white {
  color: #ffffff;
}
.blue {
  color: #00a4c7;
}
.black {
  color: #000000;
}

.white-bg {
  background-color: #ffffff;
}
.blue-bg {
  background-color: #00a4c7;
}
.black-bg {
  background-color: #000000;
}

/*--- Fonts ---*/
h1,
h2,
h3,
h4 {
  margin: 0px;
}

/*--- Utility Classes ---*/
.flex {
  display: flex;
}

.box {
  padding: 10px;
  box-shadow: 1px 1px 2px 2px #999999;
  border-radius: 10px;
  margin-top: 25px;
}

.btn {
  padding: 10px 25px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

/*--- Dashboard ---*/
.issue-solution div {
  justify-content: space-between;
}
